

@media only screen and (max-width: 800px) {
    .journalafricafooterlogo {
        width: 100px;
    }
    .links li {
        text-transform: capitalize;
    }
    .navbar-toggler  {
        border: 2px solid black;
    }
    .navbar-toggler-icon {
        border: 2px solid black;
    }
    .newsDetail {
        color: inherit;
        text-decoration: none;
    }
    .flex-comment {
        flex-direction: column;
    }
    .wrapped {
        flex-direction: column;
    }
    .category-img {
        width: 330px;
    }
    .singleImg {
        width: 400px;
    }
    .adsbanner {
        display: none;
    }
    .spacing {
        margin-left: 45px;
    }
    .photostyle{
        width: 300px;
        height: 290px;
    }
    .centered {
        top:27%
    }
    .thumbnail_news{
        display: contents;
    }
}

@media only screen and (max-width: 768px) {
    .journalafricafooterlogo {
        width: 100px;
    }
    .links li {
        text-transform: capitalize;
    }
    .navbar-toggler  {
        border: 2px solid black;
    }
    .navbar-toggler-icon {
        border: 2px solid black;
    }
    .newsDetail {
        color: inherit;
        text-decoration: none;
    }
    .flex-comment {
        flex-direction: column;
    }
    .wrapped {
        flex-direction: column;
    }
    .category-img {
        width: 330px;
    }
    .singleImg {
        width: 400px;
    }
    .adsbanner {
        display: none;
    }
    .spacing {
        margin-left: 45px;
    }
    .photostyle{
        width: 300px;
        height: 290px;
    }
    .centered {
        top:27%
    }
    .thumbnail_news{
        display: contents;
    }
}

@media only screen and (max-width: 425px) {
    .singleImg {
        height: 300px;
    }
    .topbarCarousel {
        display: none;
    }
    .navbar-toggler  {
        border: 2px solid black;
    }
    .navbar-toggler-icon {
        border: 2px solid black;
    }
    .links li {
        text-transform: capitalize;
    }
    .centered {
        top: 46%;
        width: 100%;
        font-size: 17px;
    }
    .newsimg-wrap {
        position: relative;
    }
    .search {
        margin-top: 20px;
    }
    .wrapped {
        flex-direction: column;
    }
    .centered-new {
        width: 100%;
        left: 64%;
    }
    .photostyle {
        width: 300px;
    }
}

@media only screen and (max-width: 375px) {
    .singleImg {
        height: 300px;
    }
    .topbarCarousel {
        display: none;
    }
    .navbar-toggler  {
        border: 2px solid black;
    }
    .navbar-toggler-icon {
        border: 2px solid black;
    }
    .links li {
        text-transform: capitalize;
    }
    .centered {
        top: 46%;
        width: 100%;
        font-size: 17px;
    }
    .newsimg-wrap {
        position: relative;
    }
    .search {
        margin-top: 20px;
    }
    .wrapped {
        flex-direction: column;
    }
    .centered-new {
        width: 100%;
        left: 64%;
    }
    .photostyle {
        width: 300px;
    }
}

@media only screen and (max-width: 360px) {
    .singleImg {
        height: 300px;
    }
    .topbarCarousel {
        display: none;
    }
    .navbar-toggler  {
        border: 2px solid black;
    }
    .navbar-toggler-icon {
        border: 2px solid black;
    }
    .links li {
        text-transform: capitalize;
    }
    .centered {
        top: 46%;
        width: 100%;
        font-size: 17px;
    }
    .newsimg-wrap {
        position: relative;
    }
    .search {
        margin-top: 20px;
    }
    .wrapped {
        flex-direction: column;
    }
    .centered-new {
        width: 100%;
        left: 64%;
    }
    .photostyle {
        width: 300px;
    }
}

@media only screen and (max-width: 320px) {
    .singleImg {
        height: 300px;
    }
    .topbarCarousel {
        display: none;
    }
    .navbar-toggler {
        border: 2px solid black;
    }
    .navbar-toggler-icon {
        border: 2px solid black;
    }
    .links li {
        text-transform: capitalize;
    }
    .centered {
        top: 46%;
        width: 100%;
        font-size: 17px;
    }
    .newsimg-wrap {
        position: relative;
    }
    .search {
        margin-top: 20px;
    }
    .wrapped {
        flex-direction: column;
    }
    .centered-new {
        width: 100%;
        left: 64%;
    }
    .photostyle {
        width: 300px;
    }
}
